<section
class="ezy__epcategory11 py-14 md:py-24 bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white relative overflow-hidden z-10"
>
<div class="container px-4 mx-auto">
  <div class="flex flex-col lg:flex-row gap-6">
    <div class="w-full lg:w-1/2">
      <div class="gap-6 p-0">
      {% for slider in component.slider_collection %}
        <!-- card one -->
        <div>
          <div
            class="bg-orange-400 rounded-xl min-h-[280px] text-white flex items-center relative p-6 lg:p-12 z-10"
          >
            <!-- shape -->
            <div
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <img
                src="https://cdn.easyfrontend.com/pictures/tshirt-abstract.png"
                alt=""
              />
            </div>
            <div class="grid grid-cols-12">
              <div class="col-span-8">
                <h1
                  class="text-[32px] md:text-5xl font-bold leading-[1.1]"
                >
                  Special somebunny
                </h1>
                <button
                  class="px-7 py-3.5 leading-none rounded-lg bg-white text-orange-500 font-bold mt-12"
                >
                  Shop Now
                </button>
              </div>
              <div class="col-span-6">
                <div class="absolute bottom-0 right-5 -z-10">
                  <img
                    src="https://cdn.easyfrontend.com/pictures/child-abstact1.png"
                    alt=""
                    class="max-w-full h-auto"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}
        <!-- card two -->
        <div>
          <div
            class="bg-red-600 rounded-xl min-h-[280px] text-white flex items-center relative p-6 lg:p-12 mt-6 z-10"
          >
            <!-- shape -->
            <div
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <img
                src="https://cdn.easyfrontend.com/pictures/headphone-abstract.png"
                alt=""
              />
            </div>
            <div class="absolute bottom-0 left-0 -z-10">
              <img
                src="https://cdn.easyfrontend.com/pictures/circle-abstract.png"
                alt=""
              />
            </div>
            <div class="absolute top-0 right-0 -z-10">
              <img
                src="https://cdn.easyfrontend.com/pictures/circle-abstract.png"
                alt=""
              />
            </div>
            <div class="grid grid-cols-12">
              <div class="col-span-6">
                <h1
                  class="text-[32px] md:text-5xl font-bold leading-[1.1]"
                >
                  Spring Supper Sale
                </h1>
                <button
                  class="px-7 py-3.5 leading-none rounded-lg bg-white text-red-600 font-bold mt-12"
                >
                  Shop Now
                </button>
              </div>
              <div class="col-span-6">
                <div class="absolute bottom-0 right-5 -z-10">
                  <img
                    src="https://cdn.easyfrontend.com/pictures/child-abstact2.png"
                    alt=""
                    class="max-w-full h-auto"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-1/2">
      <!-- card three -->
      <div
        class="bg-blue-900 rounded-xl min-h-[585px] text-white flex items-center relative p-6 lg:p-12 z-10"
      >
        <!-- shape -->
        <div
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
        >
          <img
            src="https://cdn.easyfrontend.com/pictures/shoe-abstract.png"
            alt=""
          />
        </div>
        <div class="grid grid-cols-12">
          <div class="col-span-6">
            <h1 class="text-[32px] md:text-5xl font-bold leading-[1.1]">
              Baby Collection
            </h1>
            <button
              class="px-7 py-3.5 leading-none rounded-lg bg-red-500 text-white font-bold mt-12"
            >
              Shop Now
            </button>
          </div>
          <div class="col-span-6">
            <div class="absolute bottom-0 right-5 -z-10">
              <img
                src="https://cdn.easyfrontend.com/pictures/child-abstact.png"
                alt=""
                class="max-w-full h-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>