.custom-slider {
    position: relative;
    width: 100vw;
    overflow: hidden;
    // border-radius: 10px;
    background-color: bisque;
}

.custom-slider .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.custom-slider .slide {
    min-width: 100%;
    box-sizing: border-box;
}

.custom-slider img {
    width: 100%;
    border-radius: 10px;
}

.custom-slider .navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.custom-slider .button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.custom-slider .button:hover {
    background-color: rgba(255, 255, 255, 1);
}