<div class="">
       <span>
            {{  theme.settings.get('darkModOpt') ? '<i class="sicon-sun rtl:ml-1 ltr:mr-1"></i><i class="sicon-moon rtl:ml-1 ltr:mr-1"></i> ': ''  }}
              </span>

</div>