<div class=" w-3">
       {{ theme.settings.get('darkModOpt') ? '
       <button id="theme-toggle" class="px-4  ">
            <i id="theme-icon" class="dark:text-white dark:bg-slate-900 header-btn__icon sicon-sun"></i>
        </button>': '' }}

</div>

