<div class="marquee">
        <p style="animation-duration: {{ component.marquee_speed }}">
        {{ component.marquee_text }}</p>
    </div>

<style>
.marquee {
            /*box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
             Full width of its parent */
            background-color: #ffffff;
            border: 1px solid rgba(0, 0, 0, .15);
            overflow: hidden;
            position: relative;
            height: 50px;
            width: 100vw;
        }

        .marquee p {
            /* position: absolute;
            width: auto; */
            height: 100%;
            margin: 0;
            line-height: 50px;
            text-align: center;
            /* Start off the right edge */
            transform: translateX(100%);
            /* Animate to the left */
            animation: scroll-left  linear infinite;
            
        }

        @keyframes scroll-left {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }

</style>