<div class="marquee">
        <h6 >
            {{ component.marquee_text }}
        </h6>
    </div>

<style>
.marquee {
            /*box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
             Full width of its parent */
            background-color: #ffffff;
            border: 1px solid rgba(0, 0, 0, .15);
            border-right: none;
            border-left: none;
            overflow: hidden;
            position: relative;
            padding:10px;
            width: 100vw;
        }

        .marquee h6 {
            /* position: absolute;
            line-height: 50px;
            width: fit-content; 
            height: 100%;*/
            margin: 0;
            text-align: center;
            /* Start off the right edge */
            transform: translateX(100%);
            /* Animate to the left */
            animation: scroll-left  linear infinite;
            animation-duration: {{ component.marquee_speed }}s
            
        }

        @keyframes scroll-left {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }

</style>